.home .home-text__zone {
  position: absolute;
  left: 20%;
  top: 50%;
  transform: translateY(-50%);
  width: 60%;
  max-height: 90%;
}

.home .home-text__zone h1 {
  font-size: 5rem;
  font-family: "Coolvetica", sans-serif;
  font-weight: 600;
}

.home .home-text__zone h1::before {
  content: "<h1>";
  font-family: "La Belle Aurore";
  color: var(--primary-color);
  opacity: 0.25;
  font-size: 20px;
  position: absolute;
  top: -40px;
  left: -5px;
}

.home .home-text__zone h1::after {
  content: "</h1>";
  font-family: "La Belle Aurore";
  color: var(--primary-color);
  opacity: 0.25;
  font-size: 20px;
  position: absolute;
  bottom: -40px;
  left: -5px;
}

.home .home-text__zone h2 {
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 3px;
  animation: fadeIn 0.5s 2.8s backwards;
}

.home-contact,
.home-download {
  color: var(--primary-color);
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 4px;
  padding: 14px 18px;
  border: 1px solid var(--primary-color);
  animation: fadeIn 0.5s 3.4s backwards;
  white-space: nowrap;
}

.home-contact:hover,
.home-download:hover {
  color: #000;
  background-color: var(--primary-color);
}

@media screen and (max-width: 768px) {
  .home .home-text__zone {
    left: 0%;
    width: 100%;
  }
}
